# make it explicit that we favor the new container-based travis workers
dist: bionic
sudo: false

language: python

# Pre-install packages for the ubuntu distribution
cache:
  apt: true
  # We use three different cache directory
  # to work around a Travis bug with multi-platform cache
  directories:
  - $HOME/.cache/pip
  - $HOME/.cache/pip
  - $HOME/download
addons:
  apt:
    packages:
      - python3-numpy
      - python3-scipy
env:
  global:
    # Directory where tests are run from
    - TEST_DIR=/tmp/test_dir
    - MODULE=imblearn
    - OMP_NUM_THREADS=4
    - OPENBLAS_NUM_THREADS=4

matrix:
  include:
    - env: PYTHON_VERSION="3.7"
           NUMPY_VERSION="*" SCIPY_VERSION="*" SKLEARN_VERSION="master"
           OPTIONAL_DEPS="keras" TEST_DOC="true" TEST_NUMPYDOC="false"
    - env: PYTHON_VERSION="3.7"
           NUMPY_VERSION="*" SCIPY_VERSION="*" SKLEARN_VERSION="master"
           OPTIONAL_DEPS="tensorflow" TEST_DOC="true" TEST_NUMPYDOC="false"
    - env: PYTHON_VERSION="3.7"
           NUMPY_VERSION="*" SCIPY_VERSION="*" SKLEARN_VERSION="master"
           OPTIONAL_DEPS="false" TEST_DOC="false" TEST_NUMPYDOC="true"

install: source build_tools/travis/install.sh
script: bash build_tools/travis/test_script.sh
after_success: source build_tools/travis/after_success.sh

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/188e3c7a5180fd4f2120
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
