build: false

environment:
  # There is no need to run the build for all the Python version /
  # architectures combo as the generated nilearn wheel is the same on all
  # platforms (universal wheel).
  # We run the tests on 2 different target platforms for testing purpose only.
  # We use miniconda versions of Python provided by appveyor windows images
  matrix:
    - PYTHON: "C:\\Miniconda-x64"
      PYTHON_VERSION: "2.7.x"
      PYTHON_ARCH: "64"
      OPTIONAL_DEP: "pandas"

    - PYTHON: "C:\\Miniconda"
      PYTHON_VERSION: "2.7.x"
      PYTHON_ARCH: "32"
      OPTIONAL_DEP: "pandas"

    - PYTHON: "C:\\Miniconda35-x64"
      PYTHON_VERSION: "3.5.x"
      PYTHON_ARCH: "64"
      OPTIONAL_DEP: "pandas keras tensorflow"

    - PYTHON: "C:\\Miniconda36-x64"
      PYTHON_VERSION: "3.6.x"
      PYTHON_ARCH: "64"
      OPTIONAL_DEP: "pandas keras tensorflow"

    - PYTHON: "C:\\Miniconda36"
      PYTHON_VERSION: "3.6.x"
      PYTHON_ARCH: "32"
      OPTIONAL_DEP: "pandas"

install:
  # Prepend miniconda installed Python to the PATH of this build
  # Add Library/bin directory to fix issue
  # https://github.com/conda/conda/issues/1753
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PYTHON%\\Library\\bin;%PATH%"
  - conda install pip scipy numpy -y -q
  - pip --pre install scikit-learn
  - "conda install %OPTIONAL_DEP% -y -q"
  - conda install pytest pytest-cov -y -q
  - pip install codecov
  - conda install nose -y -q  # FIXME: remove this line when using sklearn > 0.19
  - pip install .

test_script:
  - mkdir for_test
  - cd for_test
  - pytest --pyargs imblearn --cov-report term-missing --cov=imblearn

after_test:
  - cp .coverage %APPVEYOR_BUILD_FOLDER%
  - cd %APPVEYOR_BUILD_FOLDER%
  - codecov
