build: false

environment:
  # There is no need to run the build for all the Python version /
  # architectures combo as the generated nilearn wheel is the same on all
  # platforms (universal wheel).
  # We run the tests on 2 different target platforms for testing purpose only.
  # We use miniconda versions of Python provided by appveyor windows images
  matrix:
    - PYTHON: "C:\\Miniconda-x64"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "64"
      OPTIONAL_DEP: "pandas"

    - PYTHON: "C:\\Miniconda"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "32"
      OPTIONAL_DEP: "pandas"

    - PYTHON: "C:\\Miniconda36-x64"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
      OPTIONAL_DEP: "pandas keras tensorflow"

    - PYTHON: "C:\\Miniconda36-x64"
      PYTHON_VERSION: "3.7"
      PYTHON_ARCH: "64"
      OPTIONAL_DEP: "pandas"

    - PYTHON: "C:\\Miniconda36"
      PYTHON_VERSION: "3.7"
      PYTHON_ARCH: "32"
      OPTIONAL_DEP: "pandas"

install:
  # Prepend miniconda installed Python to the PATH of this build
  # Add Library/bin directory to fix issue
  # https://github.com/conda/conda/issues/1753
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PYTHON%\\Library\\bin;%PATH%"
  - conda update conda -y -q
  - conda create -n testenv --yes python=%PYTHON_VERSION% pip
  - activate testenv
  - conda install scipy numpy -y -q
  - conda install scikit-learn -y -q
  - conda install %OPTIONAL_DEP% -y -q
  - conda install pytest pytest-cov -y -q
  - pip install codecov
  - pip install .

test_script:
  - mkdir for_test
  - cd for_test
  - pytest --pyargs imblearn --cov-report term-missing --cov=imblearn

after_test:
  - cp .coverage %APPVEYOR_BUILD_FOLDER%
  - cd %APPVEYOR_BUILD_FOLDER%
  - codecov
